
<!-- <mat-icon style="color: hsl(90, 100%, 50%)">aspect_ratio
</mat-icon>

-------------------------- Notification ----------------------
<div>
    <span  [matBadge]="5">Like</span>
</div>

<mat-progress-spinner value="40"></mat-progress-spinner>
<mat-spinner></mat-spinner> -->

<!--------------------------- Tool bar -------------------------------------->
<!-- <div>
    <mat-toolbar style="background-color: cornflowerblue">
        <span>Code</span>
    </mat-toolbar>
</div> -->


<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button mat-raised-button color="accent" (click)="opened = !opened">Side nav</button>
    </mat-sidenav-content>
</mat-sidenav-container>
