button.mat-fab{
    background-color: blue;
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color: aquamarine;
    width: 200px;
}

